@import './var.scss';

.el-scrollbar__bar.is-vertical {
  right: 0px!important;
}

.is-horizontal {
  display: none!important;
}

.main-container {
  min-height: 100%;
  box-sizing: border-box;
  padding: $padding;
  background-color: white;
}